<?xml version='1.0' encoding='utf-8'?>
<widget version="34"
    id="com.bidspirit.tools"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android = "http://schemas.android.com/apk/res/android"
    xmlns:gap="http://phonegap.com/ns/1.0"
    >
 
    <name>(Tools) Bidspirit</name>
    <description>
        Bidspirit tools
    </description>
    <author email="zemer@bidspirit.com" href="http://bidspirit.com">
        Zemer avital
    </author>

    <content src="index.html" />
    
    <access origin="*" />
    
    
    <plugin name="cordova-plugin-console" spec="~1.0.4" />  
    <plugin name="cordova-plugin-file" spec="~4.3.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="cordova-plugin-background-mode" spec="0.7.2" />
    
    <plugin name="cordova-plugin-calendar" />
    
    <preference name="android-build-tool" value="gradle" />
    
    
    <gap:platform name="android" />
    
    <gap:platform name="ios" />
    
    
        
    <icon src="icon.png" />
    
    
    
    <icon src="icons/ios/ios_57x57.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/ios_72x72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/ios_76x76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/ios_152x152.png" gap:platform="ios" width="152" height="152" />
	<icon src="icons/ios/ios_114x114.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/ios_50x50.png" gap:platform="ios" width="50" height="50" />
	<icon src="icons/ios/ios_100x100.png" gap:platform="ios" width="100" height="100" />
	<icon src="icons/ios/ios_60x60.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/ios/ios_120x120.png" gap:platform="ios" width="120" height="120" />
    
    
    
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/device" />

 <preference name='phonegap-version' value='cli-6.3.0' />
    <preference name="EnableViewportScale" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    
	
    
	 
     
</widget>
