body{
	.pgdebug.message{			
		position:absolute;
		z-index:1000;
		width:350px;
		height:500px;
		background:#efefff;
		opacity:0.8;
		right:0px;
		overflow:auto;
		top:0;
		display:none;
	}
	.pgdebug.hide-button{			
		position:absolute;
		left:365px;
		z-index:1001;
		width:30px;
		height:30px;
		top:2px;
		display:none;
	}
	[ui-view]{
		position:relative;
		z-index:1;
	}
	.main-page{
		background:white;
		font-size:30px;	
		height:1000px;	
		.button{
			width:120px;
			padding:5px;
			border:1px solid black;
			margin:5px;
			
		}
	}
}

@import "common";